In [1]:
import warnings
warnings.filterwarnings('ignore')
from IPython.display import Image
import numpy as np
import pandas as pd

판다스 데이터프레임과 시리즈  
데이터프레임과 시리즈는 딕셔너리와 비슷하지만 데이터를 다루는데 더 특화되어 있다.  
리스트와 딕셔너리는 많은 양의 데이터를 저장하거나 조작할 수 있는 메소드가 많지 않은 반면에 판다스의 데이터프레임과 시리즈는 많은 양을 저장할 수 있을 뿐만 아니라 스프레드시트 프로그램을 사용하는 것 처럼 행과 열 단위로 데이터를 조작할 수 있는 다양한 속성과 함수를 제공한다.

시리즈 만들기

In [3]:
s = pd.Series(['banana', 2000])
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
0    banana
1      2000
dtype: object

In [6]:
s = pd.Series(['홍길동', '이몽룡'])
print(s)
# 시리즈를 생성할 때 문자열을 인덱스로 지정할 수 있다.
# 문자열을 인덱스로 지정하려면 Series() 함수의 index 속성에 인덱스로 사용하려는 문자열을 리스트에 담아서 전달하면 된다.
s = pd.Series(['홍길동', '이몽룡'], index=['도적넘', '공무원'])
print(s)

0    홍길동
1    이몽룡
dtype: object
도적넘    홍길동
공무원    이몽룡
dtype: object

데이터프레임 만들기

In [13]:
# 데이터프레임을 만들기 위해서는 딕셔너리를 DataFrame() 함수의 인수로 전달하면 된다.
df = pd.DataFrame({
    # 'key': [value, value, ...] # key는 데이터프레임의 열 이름이 되고 value가 데이터가 된다.
    'Name': ['홍길동', '임꺽정'],
    'Job': ['도둑넘', '도적넘'],
    'Born': ['1920-04-20', '1875-06-10'],
    'Died': ['1957-08-20', '1930-12-10'],
    'Age': [37, 60]
})
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

  Name  Job        Born        Died  Age
0  홍길동  도둑넘  1920-04-20  1957-08-20   37
1  임꺽정  도적넘  1875-06-10  1930-12-10   60

In [23]:
# DataFrame() 함수의 data 속성으로 데이터를 지정하고 index 속성으로 인덱스를 columns 속성으로 열 이름을 지정할 수 있다.
df = pd.DataFrame(
    data={
        'Job': ['도둑넘', '도적넘'],
        'Born': ['1920-04-20', '1875-06-10'],
        'Died': ['1957-08-20', '1930-12-10'],
        'Age': [37, 60]
    },
    index=['홍길동', '임꺽정'],
    # columns=['Job', 'Born', 'Died', 'Age']
)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

     Job        Born        Died  Age
홍길동  도둑넘  1920-04-20  1957-08-20   37
임꺽정  도적넘  1875-06-10  1930-12-10   60

시리즈 다루기

In [25]:
# 데이터프레임에서 시리즈를 선택하려면 loc 속성에 열 이름을 전달하거나 iloc 속성에 인덱스를 전달하면 된다.
row = df.loc['임꺽정']
print(type(row))
row

<class 'pandas.core.series.Series'>

Job            도적넘
Born    1875-06-10
Died    1930-12-10
Age             60
Name: 임꺽정, dtype: object

index, values 속성과 keys() 함수

In [32]:
# index 속성은 시리즈의 인덱스를 얻어온다.
print(type(row.index))
print(row.index)
print('=' * 80)
# values 속성은 시리즈의 데이터를 얻어온다.
print(type(row.values))
print(row.values)
print('=' * 80)
# keys() 함수는 index 속성과 같이 시리즈의 인덱스를 얻어온다.
print(type(row.keys()))
print(row.keys())
print('=' * 80)
# index 속성의 첫 번째 값 추출하기
print(row.index[0])
print(row.keys()[0])
# values 속성의 첫 번째 값 추출하기
print(row.values[0])

<class 'pandas.core.indexes.base.Index'>
Index(['Job', 'Born', 'Died', 'Age'], dtype='object')
================================================================================
<class 'numpy.ndarray'>
['도적넘' '1875-06-10' '1930-12-10' 60]
================================================================================
<class 'pandas.core.indexes.base.Index'>
Index(['Job', 'Born', 'Died', 'Age'], dtype='object')
================================================================================
Job
Job
도적넘

시리즈 기초 통계 함수

In [34]:
scientists = pd.read_csv('./data/scientists.csv')
print(type(scientists))
scientists

<class 'pandas.core.frame.DataFrame'>

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [39]:
ages = scientists['Age']
print(type(ages))
print(ages)

print('max = {}'.format(ages.max()))
print('min = {}'.format(ages.min()))
print('sum = {}'.format(ages.sum()))
print('mean = {}'.format(ages.mean()))
print('count = {}'.format(ages.count()))
print('std = {}'.format(ages.std()))

<class 'pandas.core.series.Series'>
0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
max = 90
min = 37
sum = 473
mean = 59.125
count = 8
std = 18.325918413937288

브로드 캐스팅  
ages > ages.mean()와 같이 시리즈나 데이터프레임의 모든 데이터에 대해 한 번에 연산하는 것을 브로드캐스팅이라 한다.  
이 때, 여러개의 값을 가진 데이터를 벡터라 하고 단순 크기를 나타내는 데이터를 스칼라라 부른다.

In [48]:
# 평균 나이보다 나이가 많은 사람의 나이 데이터를 추출한다.
# print(ages > ages.mean())
# bool_value = ages > ages.mean()
# print(bool_value)
# print(ages[bool_value])
print(ages[[False, True, True, True, False, False, False, True]])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [50]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64